# Server
APP_BASE_URL=http://localhost:3000
APP_DEEPLINK_BASE=secursign://reset
JWT_SECRET=change-me

# Email (SMTP)
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-app-password

# Database (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=erion123
DB_HOST=localhost
DB_NAME=postgres
DB_PORT=5432
